{% load static %} <!DOCTYPE html> 
<html lang="fr">
<head> 
   <meta charset="UTF-8"> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <title>{% block title %}Mon Super Blog{% endblock %}</title> 
   
   <link rel="stylesheet" href="{% static 'blogapp/style.css' %}"> 
</head> 
<body> 
    <nav> 
      <a href="{% url 'blogapp:accueil' %}">Accueil</a> 
      {% if user.is_authenticated %} 
        <span class="user-greeting">Bonjour,<a href="{% url 'blogapp:profil_utilisateur' username=user.username %}"> {{ user.username }}</a>!</span> 
        <a href="{% url 'blogapp:creer_article' %}">Nouvel Article</a> {# <--- LIEN AJOUTÉ/MODIFIÉ #} 
        <a href="{% url 'blogapp:deconnexion' %}">Déconnexion</a> 
      {% else %} 
        <a href="{% url 'blogapp:connexion' %}">Connexion</a> 
        <a href="{% url 'blogapp:inscription' %}">Inscription</a> 
      {% endif %} 
    </nav> 
    <div class="container"> 
       {% if messages %} 
           <ul class="messages"> 
               {% for message in messages %} 
                   <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li> 
               {% endfor %} 
           </ul> 
       {% endif %} 
 
       {% block content %} 
       {% endblock %} 
   </div>
   <footer> 
       <p>(c) {% now "Y" %} Mon Super Blog. Tous droits réservés.</p> 
   </footer> 
</body> 
</html>